
@media (max-width: 1200px) {
    #img4 {
        width: 80%;
        height: 74%;
    }
}
@media (max-width: 992px) { 
   
    #img4 {
        width: 80%;
        height: 74%;
    }
    #sub {
        width: 54%;
    }
 }
 @media (max-width: 768px) { 
    #img4 {
        width: 91%;
        height: 82%;
    }
    #img {
        width: 60%;
        height: 74%;
        display: block;
    }
    #sub {
        width: 60%;
    }
    #img2 {
        width: 77%;
        height: 80%;
        display: block;
    }
  }
  @media (max-width: 576px) { 
    #text-title {
        margin-left: -5px;
        font-size: 57px;
        letter-spacing: 3px;
    }
    #img2 {
        width: 86%;
        height: 59%;
        display: block;
    }
   
   }
  