body{
    width: 100%;
}
:root{
    --bg: #212529;
}
#Menu{
    width: 100%;
    height: auto;
}
.navbar-light .navbar-brand {
    color: #fffefee6 !important;
}

.navbar-toggler{
    background-color: aliceblue;
}
#barra-menu ul li a{
    color: aliceblue !important;
}
#text-title{
    margin-left:7px;
    font-size: 75px;
    letter-spacing: 1px;
}
.banner{
    width: 100%;
    height: auto;
    background-image: url(/Asset/Img/Background\ \(4\).svg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#text-p{
    letter-spacing: 0.5px;
}
#secction-1{
    width: 100%;
    height: auto;
    background-color:var(--bg);
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/Asset/Img/Shape\ \(1\).svg) ; 
    background-size: 100% 100%;
}
.main{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#img{
    width: 100%;
    height: 200px;
    display: block;
}
#img2{
    width: 69%;
    height: 392px;
    display: block;
}
.secction-2{
    width: 100%;
    height: auto;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/Asset/Img/Path\ 0\ \(1\).svg) ;
    background-blend-mode: darken; 
    background-size: contain;
}
.secction-3{
    width: 100%;
    height: auto;
    background-color:var(--bg);
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/Asset/Img/Path\ 0\ \(2\).svg) ; 
    background-size: 100% 100%;
}
#cont{
    height: 234px;
    width: 243px;
    border: 5px solid #fff;
    border-radius: 50%;
}
.secction-4{
    width: 100%;
    height: auto;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/Asset/Img/Path\ 0\ \(3\).svg) ;
    background-blend-mode: darken; 
    background-size: cover;
}
#img3{
    width: 30%;
    height: 50%;
    display: block;
}
.secction-5{
    width: 100%;
    height: auto;
    background-image: url(/Asset/Img/images\ \(2\).svg) ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(60, 58, 57, 0.7); 
    background-blend-mode: darken;  
}
#sub{
    width:40% ;
}
#sub >input{
    border: 1px solid rgb(22, 22, 22);
    border-radius: 18px;
}
#sub >button{
    border: 1px solid rgb(22, 22, 22);
    border-radius: 18px; 
}
.input-group .btn {
    position: relative;
    z-index: 12;
    right: 31px;
}
.secction-6{
    width: 100%;
    height: auto;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/Asset/Img/Path\ 0\ \(4\).svg) ;
    background-size: contain;
}
#footer{
    
    background-color:var(--bg);;
}
#Free{
    background-color: rgba(148, 150, 196, 0.7); 
    border-radius: 18px;
}
.secction-7{
    width: 100%;
    height: auto;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-image: url(/Asset/Img/images.svg) ; 
    background-color: rgba(139, 136, 134, 0.807); 
    background-blend-mode: darken;
    background-size: cover;
}
#img4{
    width: 83%;
    height: 80%;
    display: block;
    border-radius: 19px;

}